


.Shop{
    padding: 20px;
    position: relative;
    margin-top: 150px;
    margin-right: 5%;
    margin-left: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    height: auto;
    margin-bottom: 30px;
    background-color: white;
    border: 2px solid lightgrey;
    box-shadow: 10px 5px 5px gainsboro;
    min-height: 500px;
}

@media (max-width:1000px){
    .Shop{
        flex-direction: column;
        width: 90%;

    }
}

